<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591831488287-ughanbsu58asn28cbgoutg07p2d09nqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591831488287-ughanbsu58asn28cbgoutg07p2d09nqr</string>
	<key>API_KEY</key>
	<string>AIzaSyAYRwayo-t83B5u9QVl8mhvLlJRqiZFgKo</string>
	<key>GCM_SENDER_ID</key>
	<string>591831488287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Demo</string>
	<key>PROJECT_ID</key>
	<string>demoapp-6368e</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-6368e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591831488287:ios:3f29298d7e47f46610422a</string>
</dict>
</plist>